.tela-exposicao {
    width: 100%;
    background-image: url("./images/Imagem-fundo-sem-museu.png");
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.voltar-img {
    display: block;
}

.sair-img {
    display: none;
}

.sair-button {
    cursor: not-allowed;
    pointer-events:none;
}

.exposicao-header {
    text-align: center;
    margin: 0 15px;
}

.exposicao-header p {
    margin: 10px 0;
}

.exposicao-header p:first-child {
    font-size: 20px;
    margin-top: 75px;
}

.obras {
    padding: 0;
}

.obras li{
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ff8030;
    padding-bottom: 25px;
}

.obra-img {
    margin: 25px 0 15px 0;
    width: 100%;
}

.obras li p {
    margin:0;
}

.exposicao-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exposicao-button p:first-child {
    margin: 25px 0 0 0;
}

.exposicao-button p {
    margin: 0 0 15px 0;
    font-weight: bold;
}

.exposicao-button button {
    font-family: 'Chilanka', cursive;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ff8030;
    border: 1px solid #ff8030;
    box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}